@model PlanetResidentsViewModel

@{
    ViewData["Title"] = $"Residents of Planet {Model.PlanetName}";
}

<h1>@ViewData["Title"]</h1>

<section class="row">
    @Html.DisplayFor(x => x.Residents)
</section>
