@{
    ViewBag.Title = "Platt Code Sample - Star Wars App";
}

<h1>@ViewBag.Title</h1>

<div class="row-spacer">
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="GetAllPlanets" class="btn btn-default">See Results</a>
            <span>Get All Planets - Largest Diameter to Smallest Diameter</span>
        </div>
    </div>
</div>

<div class="row-spacer">
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="GetPlanetTwentyTwo" asp-route-id="22" class="btn btn-default">See Results</a>
            <span>Get Details for Planet 22</span>
        </div>
    </div>
</div>

<div class="row-spacer">
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="GetResidentsOfPlanetNaboo" asp-route-planetname="Naboo" class="btn btn-default">See Results</a>
            <span>Get Residents of Planet Naboo</span>
        </div>
    </div>
</div>

<div class="row-spacer">
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Home" asp-action="VehicleSummary" class="btn btn-default">See Results</a>
            <span>Vehicle Manufacturer Summary</span>
        </div>
    </div>
</div>
