@{
    ViewData["Title"] = "Platt Code Sample - Star Wars App";
}

<header>
    <h1>@ViewData["Title"]</h1>
</header>

<section class="row">
    <nav class="col-sm-6 col-lg-4">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a asp-controller="Home" asp-action="Planets">Get All Planets - Largest Diameter to Smallest Diameter</a>
            </li>
            <li role="presentation">
                <a asp-controller="Home" asp-action="Planet" asp-route-id="22">Get Details for Planet 22</a>
            </li>
            <li role="presentation">
                <a asp-controller="Home" asp-action="Residents" asp-route-planetname="Naboo">Get Residents of Planet Naboo</a>
            </li>
            <li role="presentation">
                <a asp-controller="Home" asp-action="Vehicles">Vehicle Manufacturer Summary</a>
            </li>
        </ul>
    </nav>
</section>
