@model ResidentsViewModel

@{
    ViewData["Title"] = $"Residents of Planet {Model.PlanetName}";
}

<header>
    <h1>@ViewData["Title"]</h1>
</header>

<section class="row">
    @Html.DisplayFor(x => x.Residents)
</section>
